            <div class="row">
              <div class="col-lg-8">
                <div class="content-column-content">
                  <h1>Evening Event: Cooking</h1>
                  <p>At the Harvard Cooking Lab and under the guidance of author and food historian Prof. Nawal Nasrallah, students cooked and ate dishes that were prepared according to ancient Mesopotamian <a href="files/cooking.pdf">recipes</a>. The main dish was a beet and lamb stew served with steamed bulgur and <i>tannour</i> bread. <i>Mersu</i> or date candy was served for dessert.</p>
                </div>
              </div>
            </div>
