            <div class="row">
              <div class="col-lg-8">
                <div class="content-column-content">
                  <h1>Group D: Drama</h1>
                  <p>
                    A modern stage production based on the Babylonian Epic of Gilgamesh.
                    The <a href="files/drama_program.pdf">program</a> consisted of three original adaptations. Here are links to the scripts:
                  </p>
                  <ol>
                    <li><a href="files/drama_script1.pdf">"Enkidu! I've Had a Dream!"</a></li>
                    <li><a href="files/drama_script2.pdf">"Messy Bill and Enny the Kid Cause a Ruckus"</a></li>
                    <li><a href="files/drama_script3.pdf">"The Gods Will Remember"</a></li>
                  </ol>
                </div>
              </div>
            </div>
