            <div class="row">
              <div class="col-lg-8">
                <div class="content-column-content">
                  <h1>Evening Event: Gilgamesh</h1>
                    <p>The <i>Epic of Gilgamesh</i> is a 4,000-year-old Mesopotamian poem about a hero who embarks on an arduous quest to find the secret of immortality. Preserved on clay tablets in cuneiform script, it is generally considered to be the earliest great work of literature to survive from the ancient world. In this illustrated lecture, Andrew George, author of a prize-winning translation of the <i>Epic of Gilgamesh</i>, explores four themes related to this Babylonian masterpiece: the archaeology of the poem’s recovery, the reconstruction of its text, the story it tells, and its messages about life and death.</p> 
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rd7MrGy_tEg"></iframe>
                  </div>
                </div>
              </div>
            </div>
