          <!--   *** DETAIL ***-->
          <div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
            <div class="small-navbar visible-xs">
              <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
              <h1 class="small-navbar-heading"> <a href="index.html">Ancient Lives 2016</a></h1>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="content-column-content">
                  <h1>Ancient Lives 2016</h1>
                  <p class="lead">What are the essential elements of human society? Have our fundamental conditions developed, and how? Can we use themes from ancient history to think about contemporary society and culture? These questions are the focus of this ‘Societies of the World’ (SW) course for the Harvard College Program in General Education. ‘Ancient Lives’ explores the earliest human civilizations in the region of Mesopotamia and the Levant c. 3500-300 BCE – the territory now covered by the nations of Iraq, Iran, Turkey, Syria, Lebanon, Israel and Jordan.</p>
                  <h4>The Class</h4>
                  <p>Few elements in the way we live and organize ourselves today are to be taken for granted. There are – and have always been – a wealth of ways in which humans live. But biologically we are the same as our ancestors of 5500 years ago, at the dawn of history. Any likeness or difference between ‘us and them’ is therefore likely to be a product of history and culture.</p>
                  <p>‘Ancient Lives’ builds upon this realization to inspire a critical way of thinking about society in the broadest possible scope. Areas explored during the course are selected for their relevance across the range of contemporary life – they include freedom, music, public health, food, jurisprudence, trade, the visual arts, science, gender and sexuality, religion and political power. You will learn about how societies and individuals have dealt with change on multiple levels, from large-scale societal revolutions to personal transformation.</p>
                  <p>Having taken this course, you will have gained a fundamental understanding and appreciation of human life in the broadest scope, as well as of your own life as a part of history. You will be able to critically assess contemporary discourses on the study of ‘the other’ in past and present, engage with core concepts of human society, such as justice, beauty, value and belief, be familiar with examples of classical social theory and thinkers through concrete cases in which their work has been applied to or shaped by the study of the past, and acquire skills in presenting scholarly work to a general audience.</p>
                </div>
              </div>
            </div>
          </div>
          <!--  *** DETAIL END **-->
