            <div class="row">
              <div class="col-lg-8">
                <div class="content-column-content">
                  <h1>Tabula Gratulatoria</h1>
                  <p>We are grateful to our many patrons and collaborators for making this course and its events possible:</p>
<ul>
<li>The Provostial Grant for Arts and Humanities, Harvard University</li>
<li>The Elson Family Arts Initiative Fund</li>
<li>The Harvard Program of General Education</li>
<li>The Harvard Semitic Museum</li>
<li>The Department of Near Eastern Languages and Civilizations, Harvard University</li>
<li>The Harvard Museums of Science and Culture</li>
<li>The Derek Bok Center for Teaching and Learning, Harvard University</li>
<li>The Harvard Initiative for Learning and Teaching</li>
<li>Modern Home Brew Emporium</li>
</ul>

<ul>
<li>Dr. Adam Aja, The Harvard Semitic Museum</li>
<li>Prof. David Damrosch, Harvard University</li>
<li>Sean Davidson, the National Recording Academy</li>
<li>Ronn Friedlander, Aeronaut Brewery</li>
<li>Dr. Gösta Gabriel, Harvard University</li>
<li>Prof. Andrew George, SOAS, University of London</li>
<li>Dr. Joseph Greene, The Harvard Semitic Museum</li>
<li>Marlon Kuzmick, The Derek Bok Center for Teaching and Learning</li>
<li>Prof. Peter Machinst, Harvard University </li>
<li>Adam Middleton, The Harvard Semitic Museum</li>
<li>Diana Munn, Director of Public Programs, Harvard Museums of Science and Culture</li>
<li>Nawal Nasrallah, Iraqi Cookbook</li>
<li>Dr. Tate Paulette, Brown University</li>
<li>Bess Paupeck, Arts @ 29 Garden, Harvard University</li>
<li>Jane Pickering Executive Director, HMSC</li>
<li>Jill Radsken, Harvard Gazette</li>
<li>Dr. Pia Sörensen, SEAS Science and Cooking Lab, Harvard University</li>
<li>Prof. Irene Winter, Harvard University</li>
</ul>

<ul>
<li>Lidia Gocheva, Course TF, Casting</li>
<li>Neelam Khoja, Course TF, Journalism and Reflections</li>
<li>Brenna Nicely, Course Performance Director</li>
<li>Ari Schrieber, Course Head TF, Brewing</li>
<li>Laura Taronas, Course TF, Perfomance and Exams</li>
<li>Kimberly Wortmann, Course TF, Perfomance and Evening Events</li>
</ul>
                </div>
              </div>
            </div>
